<%= flash[:notice] %>

<%= form_tag top_login_path, method: :post do %>
  <p>
      <%= label_tag :uid, 'uid : ' %> 
      <%= text_field_tag :uid %> 
  </p>
  <p>
      <%= label_tag :pass, 'pass : ' %> 
      <%= password_field_tag :pass %> 
  </p>

      <%= submit_tag 'ログイン', class:"button-s" %>

<% end %>

<br>
    <%= link_to '新規登録', new_user_path, class:"button" %>
    <%= link_to 'ユーザ一覧', users_path, class:"button" %>
     
    
    <%= link_to '戻る', :back, class:"button" %>

