<%= flash[:notice] %>

<p class = "login">
  <%= link_to 'ログイン', top_main_path, class:"button"  %>
</p>

<br>

<% @users.each do |e| %>
  <p>
    <%= "uid : " %>
    <%= e.uid %>

    <%= link_to '削除', user_path(e), method: :delete, class:"button"  %>

   
  </p>
<% end %>

<p>
  <%= link_to '新規登録', new_user_path, class:"button"  %>
</p>
<p>
  <%= link_to 'ホームに戻る', "/" %>
</p>

