<P><strong>
  <% if flash[:notice] %>
    <% if flash[:notice] == "正解です" %>
      <%= image_tag '正解.png'%>
    <% end  %>
    <% if flash[:notice] == "不正解です" %>
      <%= image_tag '不正解.png'%>
    <% end  %>
  <% end %>
</strong></P>

<p>
  回答
  <%= @ans %>
</p>

<p>
  <strong>タイトル</strong>
  <%= @quiz.title %>
</p>
<p>
  <strong>問題</strong>
  <%= @quiz.question %>
</p>
<p>
  <strong>答え</strong>
  <%= @quiz.answer %>
</p>
<p>
  <strong>解説</strong>
  <%= @quiz.comment %>
</p>



<%= link_to 'Back', '/', class:"button"  %>