<div class = "quiz-block">

<h3><strong>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</strong></h3>

<p>
  回答
  <%= @ans %>
</p>



<p>
  <strong>タイトル</strong>
  <%= @quiz.title %>
</p>
<p>
  <strong>問題</strong>
  <%= @quiz.question %>
</p>
<p>
  <strong>答え</strong>
  <%= @quiz.answer %>
</p>
<p>
  <strong>解説</strong>
  <%= @quiz.comment %>
</p>

</div>

<%= link_to 'Back', '/', class:"button"  %>