<div class = "quiz-block">
<p>
  <strong>タイトル</strong>
  <%= @quiz.title %>
</p>
<h3><strong>
  <% if flash[:notice] %>
    <% if flash[:notice] == "正解です" %>
      <%= image_tag '正解.png', class:"i"%>
    <% end  %>
    <% if flash[:notice] == "不正解です" %>
      <%= image_tag '不正解.png', class:"i"%>
    <% end  %>
  <% end %>
</strong></h3>

<p>
  <strong>回答</strong>
  <%= @ans %>
</p>
<p>
<%= image_tag "/get_image/#{@quiz.id}", class:"i" %>
</p>
<p>
  <strong>問題</strong>
  <%= simple_format(h(@quiz.question)) %>
</p>
<p>
  <strong>答え</strong>
  <%= simple_format(h(@quiz.answer)) %>
</p>
<p>
  <strong>解説</strong>
  <%= simple_format(h(@quiz.comment)) %>
</p>

</div>

<%= link_to 'Back', '/', class:"button"  %>