<p>
  <strong>タイトル</strong>
  <%= :title %>
</p>
<p>
  <strong>問題</strong>
  <%= :question %>
</p>
<p>
  <strong>答え</strong>
  <%= :answer %>
</p>
<p>
  <strong>解説</strong>
  <%= :comment %>
</p>
<p>
  <strong>回答</strong>
  <%= 
</p>


<%= link_to 'Back', '/' %>