<p class = "login">
<% if session[:login_uid] %>
  <%= link_to 'ログアウト', top_logout_path %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>
</p>

<%= flash[:notice] %>

<br>
<% if session[:login_uid] %>
<p>
  <%= link_to '新規投稿', new_quiz_path %>
</p>
<% end %>

<% @quizs.each do |e| %>

  <p class = "quiz-block">

    <%= "タイトル" %>
    <%= e.title %><br>
    
    <%= "画像" %>
    <%= image_tag "/get_image/#{e.id}" %><br>

    <%= "問題文" %>
    <%= e.question %><br>

    <%= "答え" %>
    <%= e.answer%><br>

    <%= "コメント" %>
    <%= e.comment%><br>
    
    <% if session[:login_uid] %>
        <%= link_to '削除', quiz_path(e), method: :delete %>
    <% end %>
    
    <%= link_to '表示', quiz_path(e) %>
    
  </p>
<% end %>


