
<p class = "login">
<% if session[:login_uid] %>
  <%= link_to 'ログアウト', top_logout_path, class:"button" %>
<% else %>
  <%= link_to 'ログイン', top_main_path, class:"button" %>
<% end %>
</p>


<br>
<% if session[:login_uid] %>
<p>
  <%= link_to '新規投稿', new_quiz_path, class:"button" %>
</p>
<% end %>

<% if @keyword == nil %>
  <h2>クイズ検索</h2>
  <%= form_tag 'quizs/search', method: :post do %>
    <%= label_tag 'キーワード' %>
    <%= text_field_tag :keyword %>
    <%= submit_tag '検索', class:"button-s"%>
  <% end %>
<% else %>
  <h2>検索結果</h2>
  <%= link_to 'Back', '/', class:"button" %>    
  <% if @quizs == [] %>
    <h3><strong><%= @keyword %></strong>
    というキーワードのクイズはありませんでした</h3>
  <% end %>
<% end %>

<% @quizs.each do |e| %>
  <p class = "quiz-block">
    
  <font size="5px">
    <%= "タイトル" %>
    <%= e.title %>
  </font>
  <br>
    
    <%= "画像" %><br>
    <%= image_tag "/get_image/#{e.id}", class:"i" %><br>
    <br>

    <%= "問題文" %>
    <%= e.question %><br>

    <%= "答え" %>
    <%= e.answer%><br>

    <%= "コメント" %>
    <%= e.comment%><br>
    
    <br>
    <% if session[:login_uid] %>
        <%= link_to '削除', quiz_path(e), method: :delete, class:"button-1" %>
    <% end %>
    
    <%= link_to '表示', quiz_path(e), class:"button-1" %>
    
  </p>
  

  
<% end %>


<% if @keyword == nil %>
  <%= paginate(@quizs) %>
<% else %>
  <%= link_to 'ホームに戻る', '/', class:"button" %>
<% end %>
