<% @quizs.each do |e| %>
  <p>
    <%= e.title %>
    <%= e.question %>
    <%= e.answer%>
    <%= e.comment%>
  </p>
<% end %>

テスト
<p>
<% if session[:login_uid] %>
  <%= link_to 'ログアウト', top_logout_path %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>
</p>