<% if @quiz.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
    <% @quiz.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>



<%= form_for @quiz, url: {action: :create} do |f| %>
  <div class = "quiz-block">
    <p>
      <%= f.label :title, 'タイトル' %> <br>
      <%= f.text_area :title, class:"quiz-block-cb" %><br>
    </p>
    <p>
      <%= f.label :question, '問題' %> <br>
      <%= f.text_area :question, class:"quiz-block-cb" %><br>
    </p>
    <p>
      <%= f.label :file, '画像' %>
      <%= f.file_field :file %><br>
    </p>
    <p>
      <%= f.label :answer, '答え' %> <br>
      <%= f.text_area :answer, class:"quiz-block-cb" %><br>
    </p>
    <p>
      <%= f.label :comment, '解説' %> <br>
      <%= f.text_area :comment, class:"quiz-block-cb" %>
    </p>
    <p>
      <%= f.submit '投稿する', class:"button-s" %>
    </p>
  </div>
<% end %>

<%= link_to 'Back', '/', class:"button"  %>