
<p>
  <strong>タイトル</strong>
  <%= @quiz.title %>
</p>
<%= image_tag "/get_image/#{@quiz.id}" %>
<p>
  <br>
  <strong>問題</strong>
  <%= @quiz.question %>
</p>
<p>
  <strong>答え</strong>
  <%= @quiz.answer %>
</p>
<p>
  <strong>解説</strong>
  <%= @quiz.comment %>
</p>

<%= form_for '/quizs/answer', method: :post do %>
  <%= hidden_field_tag :title, @quiz.title %>
  <%= hidden_field_tag :question, @quiz.question %>
  <%= hidden_field_tag :answer, @quiz.answer %>
  <%= hidden_field_tag :comment, @quiz.comment %>
  <%= label_tag :pans, '回答' %>
  <%= text_field_tag :pans %>
  <%= submit_tag '回答する', class:"button-s" %>
<% end %> 
<br>


<%= link_to 'Back', '/', class:"button" %>