<div class = "quiz-block">
  <p>
    <strong>タイトル</strong>
    <%= @quiz.title %>
  </p>
  <%= image_tag "/get_image/#{@quiz.id}", class:"i" %>
  <p>
    <br>
    <strong>問題</strong>
    <%= @quiz.question %>
  </p>

<%= form_for '/quizs/answer', method: :post do %>
  <%= hidden_field_tag :title, @quiz.title %>
  <%= hidden_field_tag :question, @quiz.question %>
  <%= hidden_field_tag :answer, @quiz.answer %>
  <%= hidden_field_tag :comment, @quiz.comment %>
  <%= label_tag :pans, '回答' %>
  <p class = "quiz-block-cb">
    <%= text_area_tag :pans %>
    <br><br>
    <%= submit_tag '回答する', class:"button-s" %>
  </p>
<% end %> 
<br>
</div>

<%= link_to 'Back', '/', class:"button" %>